<div class="container">
    <form class="row g-3">
        <div class="col-md-6">
            <label for="inputDni" class="form-label">DNI</label>
            <input [(ngModel)]="ticket.dni" name="dni" type="number" class="form-control" id="inputDni"
                placeholder="12345678">
        </div>
        <div class="col-md-6">
            <label for="inputPrecioR" class="form-label">Precio Real</label>
            <input [(ngModel)]="ticket.precioReal" (change)="calcularPrecio()" name="precior" type="number"
                class="form-control" id="inputPrecioR" placeholder="123$">
        </div>
        <div class="col-md-10">
            <label for="inputTipoEspectador" class="form-label">Tipo Espectador</label>
            <select [(ngModel)]="ticket.tipoEspectador" (change)="calcularPrecio()" name="tipoespectador"
                id="inputTipoEspectador" class="form-select">
                <option value="l">Local</option>
                <option value="e">Extranjero</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputFecha" class="form-label">Fecha Cobro</label>
            <input [(ngModel)]="ticket.fechaCobro" name="fecha" type="date" class="form-control" id="inputFecha">
        </div>
        <div class="col-12" *ngIf="ticket.tipoEspectador && ticket.precioReal && ticket.precioCobrado">
            <label for="inputPrecioC" class="form-label">Precio Cobrado: {{ticket.precioCobrado}}</label>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" (click)="registrarTicket()">Registrar</button>
        </div>
    </form>
    <br>

    <table class="table">
        <tr>
            <th>
                Cantidad Extranjero
            </th>
            <td>{{ticketExt}}</td> 
        </tr>
        <tr>
            <th>
                Cantidad Local
            </th>
            <td>{{ticketLoc}}</td> 
        </tr>
        <tr>
            <th>
                Cantidad Total
            </th>
            <td>{{ticketTot}}</td> 
        </tr>
        <tr>
            <th>
                Dinero Extranjero
            </th>
            <td>{{recaudadoExt}}</td> 
        </tr>
        <tr>
            <th>
                Dinero Local
            </th>
            <td>{{recaudadoLoc}}</td> 
        </tr>
        <tr>
            <th>
                Dinero Total
            </th>
            <td>{{recaudadoTot}}</td> 
        </tr>
        <tbody>

        </tbody>
    </table>

    <table class="table">
        <thead>
            <tr>
                <th>DNI</th>
                <th>Tipo Espectador</th>
                <th>Precio Real</th>
                <th>Precio Cobrado</th>
                <th>Fecha Cobro</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of arrayTickets">
                <td>
                    {{t.dni}}
                </td>
                <td>
                    {{t.tipoEspectador | espectador}}
                </td>
                <td>
                    {{t.precioReal}}
                </td>
                <td>
                    {{t.precioCobrado}}
                </td>
                <td>
                    {{t.fechaCobro | date:"dd/MM/yyyy"}}
                </td>
                <td>
                    <button class="btn btn-primary" (click)="mostrarTicket(t)">Editar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>