<div class="container">
    <h1 class="my-5 text-center">Gestion de Tickets</h1>
    <form novalidate (ngSubmit)="agregarEditarTicket()" #ticketForm="ngForm" class="row g-3">
        <div class="col-md-6">
            <label for="inputPrecioR" class="form-label fw-bold">Precio Ticket</label>
            <input [(ngModel)]="ticket.precioTicket" required name="precior" type="number" class="form-control"
                id="inputPrecioR" placeholder="123$">
        </div>
        <div class="col-md-6">
            <label for="inputTipoEspectador" class="form-label fw-bold">Tipo Espectador</label>
            <select [(ngModel)]="ticket.categoriaEspectador" name="tipoEspectador" id="inputTipoEspectador"
                class="form-select">
                <option disabled selected>Seleccione Categoria</option>
                <option value="l">Local</option>
                <option value="e">Extranjero</option>
            </select>
        </div>
        <div class="col-md-10">
            <label for="inputEspectador" class="form-label fw-bold">Espectador</label>
            <select [(ngModel)]="espectadorSelect" name="espectador" id="inputEspectador" class="form-select">
                <option [ngValue]="null" disabled selected>Seleccione Espectador</option>
                <option *ngFor="let e of arrayEspectador" [ngValue]="e">{{e.dni}} {{e.nombre}} {{e.apellido}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <label for="inputFecha" class="form-label fw-bold">Fecha Compra</label>
            <input [(ngModel)]="fecha" name="fecha" required type="date" class="form-control"
                id="inputFecha">
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-success" [disabled]="!ticketForm.form.valid">
                <span *ngIf="ticket._id != null">Guardar Cambios <i class="bi bi-arrow-bar-up"></i></span>
                <span *ngIf="ticket._id == null">Registrar <i class="bi bi-plus-circle"></i></span>
            </button>
        </div>
        <div class="col-md-6">
            <button type="reset" class="btn btn-warning" (click)="limpiarCampos()"> Limpiar <i class="bi bi-arrow-repeat"></i>
            </button>
        </div>
    </form>
    <br>

    <div class="container">
        <label class="fw-bold">Filtrar por Categoria de Espectador</label>
        <div class="d-flex">
            <select [(ngModel)]="categoria" name="tipoEspectador" id="inputTipoEspectador" class="form-select" >
                <option disabled selected>Seleccione una categoria de espectador</option>
                <option value="l">Local</option>
                <option value="e">Extranjero</option>
            </select>
            <div class="col-md-4 ms-2">
                <button type="submit" class="btn btn-primary" (click)="obtenerTicketsEspectador()"> Obtener Tickets
                    Espectadores <i class="bi bi-people-fill"></i></button>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary" (click)="obtenerTickets()"> Obtener Todos los
                    Tickets <i class="bi bi-ticket-perforated-fill"></i></button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Precio Ticket</th>
                    <th>Fecha Compra</th>
                    <th>Espectador</th>
                    <th>Tipo Espectador</th>
                    <th>Control</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of arrayTickets">

                    <td>
                        {{t.precioTicket}}
                    </td>
                    <td>
                        {{t.fechaCompra | date:"dd/MM/yyyy"}}
                    </td>
                    <td>
                        {{t.espectador.nombre}}
                        {{t.espectador.apellido}}
                    </td>
                    <td>
                        {{t.categoriaEspectador | espectador}}
                    </td>
                    <td>
                        <button class="btn btn-warning me-2" (click)="mostrarTicket(t)">Editar <i class="bi bi-pencil-fill"></i></button>
                        <button class="btn btn-danger" (click)="eliminarTicket(t)">Eliminar <i class="bi bi-trash-fill"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>